body {
    margin: 0px;
    background-color: #282c34;
    color: rgba(25, 17, 17, 0.7);
    background-image: linear-gradient(to bottom, rgba(21, 19, 19, 0.7) 0%, rgba(255, 255, 255, 0.9) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Inter', sans-serif;
}

.name {
    font-family: 'Inspiration', cursive;
    /* font-family: 'WindSong', cursive; */
    /* font-family: 'Kolker Brush', cursive; */
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.5s;
    font-weight: 300;
    color: #282c34;
    font-size: 14px;
}

#navbar .nav-item:hover {
    background-color: #ddd;
    color: black;
}

.navbar-brand {
    font-weight: 800;
    font-size: xx-large;
    color: #282c34;
}

h3 {
    font-weight: 400;
    font-size: larger;
    color: #282c34;
}

h5 {
    font-weight: 600;
    font-size: medium;
    color: #282c34;
}


h6 {
    font-weight: 200;
    font-size: small;
    color: #282c34;
}

.image {
    margin-top: 15%;
    margin-bottom: 15%;
    max-width: 400px;
}

.grayscale {
    filter: grayscale(100%);
    transition: 800ms;
}

.grayscale:hover {
    filter: grayscale(0%);
    opacity: 90%;
    transition: 800ms;
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 2s;
    animation-timing-function: steps(100, end);
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.container-skills {
    margin: 10px;
    width: 170px;
    max-height: 50px;
    background-color: #282c34;
    color: #ddd;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    line-height: 20px;
    align-items: center;
    display: inline-block;
    justify-content: space-evenly;
    filter: drop-shadow(5px 5px 5px rgba(135, 118, 118, 1));
    transition: 800ms;
}

.container-skills:hover {
    transition: 500ms;
    color: #282c34;
    background-color: #ddd;
    filter: drop-shadow(5px 15px 15px rgba(35, 18, 18, 1));
    transform: translateY(-5px);
}